.dataForm{
  background-color: #666d7c;
  padding: 1.5rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 30;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.dataForm input{
  width: 100%;
  padding: .5rem .7rem;
  margin-bottom: .5rem;
}

.dataForm textarea{
  width: 100%;
  min-height: 6rem;
  padding: .5rem .7rem;
  margin-bottom: .5rem;
}
.dataForm input[type="color" i]{
  padding: 0;
  width: 80%;
  align-items: center;
}

.card{
  background-color: rgb(57, 85, 111);
  padding: 1rem;
  border-radius: 2rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
