.card{
  background-color: rgb(57, 85, 111);
  padding: 1rem;
  border-radius: 2rem;
  min-width: 20rem;
  margin-bottom: .3rem;
  overflow: hidden;

}
.msgMeta{
  color: #666d7c;
  font-size: 10px;
}


.transition-enter{
  opacity: 0.09;
  height: 20px;
  transform: scaleY(0.1);
}
.transition-enter-active{
  opacity: 1;
  height: 200px;
  transform: scaleY(1.0);
  // transform: translate(0, 0);
  transition: all 1s ease-in;
}
.transition-enter-exit{
  opacity: 1;
}
.transition-enter-exit-active{
  opacity: 0.01;
  transition: all 1s ease-in;
}


@keyframes boxExpand {
  0%{
    height: 10px;
  }
  90%{
    height: 200px;
  }
  100%{
    height: inherit;
  }
}